:root {
  --primary-color: #26a69a;
  --secondary-color: #e0f2f1;
  --white: #ffffff;
}

header {
  padding: 3% 550px;
  background-color: var(--primary-color);
}

.body-center {
  padding: 3% 550px;
}

.bg-green {
  background-color: var(--secondary-color);
}

h1,
h2,
h4 {
  font-family: "Lilita One", sans-serif;
}

h3,
h5,
h6,
p,
ul,
form,
.about-button,
.contact-button,
.footer-text {
  font-family: "Poppins", sans-serif;
}

h1,
h3,
ul,
.about-button,
.contact-button,
.footer-links,
.footer-text {
  color: var(--white);
}

.about-button,
.contact-button {
  background-color: var(--primary-color);
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.about-button:hover,
.contact-button:hover,
.submit-button:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: all 200ms ease-in-out;
}

h1 {
  font-size: 82px;
  margin: 0;
  padding: 0;
  justify-content: right;
  line-height: 0.85;
  margin: 15px 0;
}

.h1-content {
  font-size: 112px;
  margin-bottom: 14px;
}

h3 {
  font-weight: 500;
  font-size: 24px;
}

.header-img-left {
  border-radius: 0 60px 0 60px;
  border: 6px solid white;
  position: relative;
  bottom: -56px;
  width: 100px;
  height: auto;
}

.header-img-right {
  border-radius: 100px 0 100px 0;
  border: 6px solid white;
  width: 240px;
  height: auto;
}

h4 {
  text-align: center;
  color: var(--primary-color);
  font-size: 36px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  color: var(--primary-color);
  font-size: 36px;
}

p {
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
}

.about-button {
  padding: 10px;
}

h5 {
  text-align: center;
  font-weight: 500;
  margin-top: 15px;
}

.contact-container {
  text-align: center;
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  padding: 45px 0;
  margin-bottom: 30px;
}

.contact-button {
  padding: 12px 45px;
  display: inline-block;
  margin-top: 25px;
  font-size: 18px;
}

footer {
  background-color: var(--primary-color);
}

.footer-part-container {
  display: flex;
  justify-content: space-between;
}

ul {
  text-decoration: none;
  list-style: none;
}

li {
  margin: 4px 0;
  font-weight: 200;
}

.footer-links {
  text-decoration: none;
}

.footer-text {
  font-weight: 100;
  font-size: 13px;
  text-align: center;
  margin-top: 25px;
}

.about-header,
.contact-header {
  background-color: var(--primary-color);
}

.about-header h1 {
  color: #ffffff;
  font-size: 36px;
  line-height: 1;
}

.about-header p {
  color: #ffffff;
}

.about-header .contact-button {
  background-color: #ffffff;
  color: var(--primary-color);
  padding: 10px;
}

.teachers-img {
  border: 3px solid var(--primary-color);
}

.about-header h1 {
  font-size: 34px;
}

.contact-header h1 {
  color: white;
  text-align: center;
  font-size: 60px;
}

form {
  margin-left: 150px;
  margin-right: 150px;
}

.input-container {
  margin-top: 25px;
}

input,
select,
textarea {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  width: 100%;
  border-radius: 6px;
}

.submit-button {
  background-color: var(--primary-color);
  padding: 15px 50px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  border-radius: 6px;
  display: block;
  margin: 50px auto;
  font-weight: 400;
}

nav {
  padding: 10px 550px;
}

h6 {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-left: 15px;
  font-weight: 300;
}

nav ul li a {
  list-style: none;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 14px;
}

nav ul li.active {
  font-weight: 500;
}

@media (max-width: 1898px) {
  header,
  .body-center {
    padding: 3% 450px;
  }
  nav {
    padding: 10px 450px;
  }
}

@media (max-width: 1698px) {
  header,
  .body-center {
    padding: 3% 430px;
  }
  nav {
    padding: 10px 430px;
  }
}

@media (max-width: 1658px) {
  header,
  .body-center {
    padding: 3% 400px;
  }
  nav {
    padding: 10px 400px;
  }
}

@media (max-width: 1598px) {
  header,
  .body-center {
    padding: 3% 350px;
  }
  nav {
    padding: 10px 350px;
  }
}

@media (max-width: 1498px) {
  header,
  .body-center {
    padding: 3% 300px;
  }
  nav {
    padding: 10px 300px;
  }
}

@media (max-width: 1498px) {
  header,
  .body-center {
    padding: 3% 250px;
  }
  nav {
    padding: 10px 250px;
  }
}

@media (max-width: 1397px) {
  header,
  .body-center {
    padding: 3% 200px;
  }
  nav {
    padding: 10px 200px;
  }
}

@media (max-width: 1198px) {
  header,
  .body-center {
    padding: 3% 150px;
  }
  nav {
    padding: 10px 150px;
  }
}

@media (max-width: 1098px) {
  header,
  .body-center {
    padding: 3% 100px;
  }
  nav {
    padding: 10px 100px;
  }
}

@media (max-width: 999px) {
  header,
  .body-center {
    padding: 3% 200px;
  }

  nav {
    padding: 10px 200px;
  }

  h1,
  .body-center {
    font-size: 52px;
    justify-content: left;
  }
  .h1-content {
    font-size: 75px;
    justify-content: center;
    margin-bottom: 12px;
  }
  h3 {
    font-size: 15px;
    margin-top: 12px;
  }
  .header-img-left {
    bottom: -35px;
    width: 70px;
    height: auto;
  }

  .header-img-right {
    width: 160px;
    height: auto;
  }

  h4 {
    margin-top: 15px;
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 40px;
  }

  .about-button {
    font-size: 18px;
  }

  ul {
    font-size: 15px;
  }

  .about-header h1 {
    font-size: 18px;
  }

  .about-header p {
    font-size: 9px;
  }

  .about-header .contact-button {
    padding: 6px;
    font-size: 14px;
  }

  .student-name {
    font-size: 20px;
  }

  form {
    margin-left: 25px;
    margin-right: 25px;
  }

  label {
    font-size: 18px;
  }

  input,
  select,
  textarea {
    height: 40px;
    width: 100%;
  }

  select {
    font-size: 15px !important;
  }
}

@media (max-width: 999px) {
  .about-header h1 {
    font-size: 36px;
    text-align: center;
  }

  .about-header p {
    font-size: 18px;
  }

  .about-header .contact-button {
    padding: 10px;
    font-size: 18px;
  }
}

@media (max-width: 923px) {
  header,
  .body-center {
    padding: 3% 150px;
  }

  nav {
    padding: 10px 150px;
  }
}

@media (max-width: 823px) {
  header,
  .body-center {
    padding: 3% 100px;
  }
  nav {
    padding: 10px 100px;
  }
}

@media (max-width: 723px) {
  header,
  .body-center {
    padding: 3% 30px;
  }
  nav {
    padding: 10px 30px;
  }
}

@media (max-width: 583px) {
  header {
    padding: 3% 10px;
  }
  nav {
    padding: 10px 10px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 50px;
    text-align: center;
  }

  .h1-content {
    font-size: 72px;
    justify-content: center;
  }

  h3 {
    font-size: 16px;
    text-align: center;
  }

  .container {
    text-align: center;
    margin: 15px 0;
  }

  .header-img-left {
    bottom: -70px;
    width: 60px;
    height: auto;
  }

  .header-img-right {
    width: 200px;
    height: auto;
  }

  h4 {
    font-size: 30px;
  }
}

@media (max-width: 442px) {
  h2 {
    font-size: 30px;
  }
  .footer-text {
    font-size: 11px;
  }
}

@media (max-width: 357px) {
  h2 {
    font-size: 24px;
  }

  h6,
  nav ul li a {
    font-size: 10px;
  }

  h6 {
    line-height: 2.5;
  }
}

@media (max-width: 315px) {
  .header-img-left {
    bottom: -37px;
    width: 30px;
    height: auto;
  }

  .header-img-right {
    width: 100px;
    height: auto;
  }

  h2 {
    font-size: 23px;
  }

  .footer-text {
    font-size: 8px;
  }
}
